 /* moblie view */
.grid-container{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row: auto;
  grid-gap: 2px;
  height: 100vh;
}
.block{
  border:2px solid white;
  background-color: red;
  text-align: center;
  padding:5px;
  border-radius: 20px;
}
.header{
  grid-column: 1/4;
  grid-row: 1/2;
}
.navbar{
  grid-column: 1/2;
  grid-row: 2/3;
}
.section{
  grid-column: 2/4;
  grid-row: 2/3;
}
.article1{
  grid-column: 1/2;
  grid-row: 3/4;
}
.article2{
  grid-column: 2/3;
  grid-row: 3/4;
}
.article1{
  grid-column: 3/4;
  grid-row: 3/4;
}
.footer{
  grid-column: 1/4;
  grid-row: 4/5;
}
 /* tablet view */
 @media only screen and
  (min-width:360px){
   .grid-container{
     display: grid;
     grid-template-columns:1fr 1fr 1fr 1fr;
   }
     /* changing backgroud-color for mobile view*/
   .block{
        background-color: blue;
   }
    /* increasing responsive grids for mobile view */
  .header{ grid-column: 1/7;
 }
 .navbar{
   grid-column: 1/2;
   grid-row: 2/6;
 }
 .section{
   grid-column: 2/5;
   grid-row: 5/6;
 }
 .article1{
   grid-column: 2/5;
   grid-row: 2/3;
 }
 .article2{
   grid-column: 2/5;
   grid-row: 3/4;
 }
 .article3{
   grid-column:2/5;
   grid-row: 4/5;
 }
 .footer{
   grid-column: 1/5;
   grid-row:6/7;
 }
 /* desktop view */
 @media only screen and
  (min-width:1024px){
   .grid-container{
     display: grid;
     grid-template-columns:1fr 1fr 1fr 1fr;
   }
   .block{
        background-color: green;
   }
    /* large screen view */
   @media only screen and
    (min-width:2550px){
     .grid-container{
       display: grid;
       grid-template-columns:1fr 1fr 1fr 1fr;
     }
     .block{
          background-color: orange;
     }
